{% extends 'users/base.html' %}
{% include 'django.contrib.messages' %}

{% block title %}Catalog{% endblock %}

{% block content %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    <a class="btn btn-outline-dark" href="{% url 'cart' %}">Check Cart</a>
    </div>
    {% endfor %}
  <!-- Catalog components -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <!-- If you have a picture field -->
        {% if component.picture %}
        <img src="{{ component.picture }}" class="card-img-top" alt="{{ component.name }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ component.name }}</h5>
          <p class="card-text">{{ component.description }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Manufacturer: {{ component.manufacturer }}</li>
            <li class="list-group-item">Model: {{ component.model }}</li>
            <li class="list-group-item">Vendor Code: {{ component.vendor_code }}</li>
            <li class="list-group-item">Price: ${{ component.price }}</li>
            <li class="list-group-item">In Stock: {{ component.in_stock }}</li>
            <li class="list-group-item">Category: {{ component.category.name }}</li>
              <form method="post" action="{% url 'add_cart_item' slug=component.slug %}">
                {% csrf_token %}
                <button class="btn btn-outline-dark" type="submit">Add to Cart</button>
              </form>
            <!-- Add more information as needed -->
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
