{% extends 'users/base.html' %}

{% block title %}Catalog{% endblock %}

{% block content %}
  <!-- Catalog components -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <!-- If you have a picture field -->
        {% if component.picture %}
        <img src="{{ component.picture }}" class="card-img-top" alt="{{ component.name }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ component.name }}</h5>
          <p class="card-text">{{ component.description }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Manufacturer: {{ component.manufacturer }}</li>
            <li class="list-group-item">Model: {{ component.model }}</li>
            <li class="list-group-item">Vendor Code: {{ component.vendor_code }}</li>
            <li class="list-group-item">Price: ${{ component.price }}</li>
            <li class="list-group-item">In Stock: {{ component.in_stock }}</li>
            <!-- Add more information as needed -->
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
