{% extends 'users/base.html' %}
{% load static %}

{% block content %}
  <h1>Order Details</h1>
  {% if order %}
    <div>
      <p><strong>Order Date:</strong> {{ order.order_date }}</p>
      <p><strong>Client:</strong> {{ order.client.first_name }} {{ order.client.surname }}</p>
      <p><strong>Status:</strong> {{ order.order_status }}</p>
      <p><strong>Total Price:</strong> ${{ order.order_price }}</p>
    </div>
    <div>
      <h2>Order Items</h2>
      <ul>
        {% for item in order.order_items.all %}
          <li>
            <strong>Component:</strong> {{ item.component.name }}<br>
            <strong>Quantity:</strong> {{ item.quantity }}<br>
            <strong>Price:</strong> ${{ item.price }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p>No order details found.</p>
  {% endif %}
  <div class="text-end">
    <a href="{% url 'catalog' %}" class="btn btn-primary">Back to Catalog</a>
  </div>
{% endblock %}
