{% extends 'users/base.html' %}
{% load static %}

{% block content %}
  <h1>Orders List</h1>
  {% if orders %}
    <ul>
      {% for order in orders %}
        <li>
          <form action="{% url 'order_detail' order_id=order.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="order_id" value="{{ order.id }}">
            <button class="btn btn-outline-dark " type="submit">View Order Details - {{ order.order_date }}</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No orders found.</p>
  {% endif %}
  <div class="text-end">
    <a href="{% url 'catalog' %}" class="btn btn-dark">Back to Catalog</a>
  </div>
{% endblock %}
