{% extends 'users/base.html' %}
{% include 'django.contrib.messages' %}

{% block title %}
    Order Details
{% endblock %}

{% block content %}
  <h1>Order Details</h1>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
  <div>
    <p><strong>Order Date:</strong> {{ order.order_date }}</p>
    <p><strong>Client:</strong> {{ order.client.first_name }}</p>
    <p><strong>Status:</strong> {{ order.order_status }}</p>
    <p><strong>Total Price:</strong> ${{ order.order_price }}</p>
  </div>
  <div class="text-end">
    <a href="{% url 'catalog' %}" class="btn btn-primary">Back to Catalog</a>
  </div>
{% endblock %}
